<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>Add a new Listing</h1>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter your title">
        <br><br>
        <textarea name="listing[description]" placeholder="enter description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter image URL/Link">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter Price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter country">
        <br><br>
        <button>add</button>
    </form>
</body>
</html>